
body {
    background-color: skyblue;
}

h1 {
    text-align: center;
    margin: 1rem;
}

#container {
    background-color: aquamarine;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
    width: 50%;
    height: 50%;
    grid-template-rows: repeat(16, 2vw);
    grid-template-columns: repeat(16, 2vw);
    justify-content: center;
}

div {
    background-color: white;
    border:  1px solid black;
}

.div {
    padding-top: 75%;
    z-index: 100;
}

.color {
    background: rgb(255, 60, 70);
}


