
body {
    background-color: skyblue;
}

h1 {
    text-align: center;
    margin: 1rem;
}

#container {
    margin: auto;
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

div {
    background-color: white;
    border:  1px solid black;
}

.div {
    padding-top: 75%;
    z-index: 100;
}

.color {
    background: rgb(255, 60, 70);
}

.resize {
    text-align: center;
    background-color: skyblue !important;
    border: none;
}


